<div class="container">

   <mat-card>

      <div class="img-container">
         <img src="{{project?.coverImageUrl}}">
      </div>
      
      <div class="container">
         <mat-card-header>
            <h1>{{project?.title}}</h1>
         </mat-card-header>
         <mat-card-content>
            <div [innerHTML]="project?.description"></div>
            <hr>
            <p><u>Tecnologies used:</u></p>
            <div>
               <ul>
                  <li *ngFor="let tec of project?.tecnologies">{{tec}}</li>
               </ul>
            </div>
            <hr>
            <div id="extra">
               <p *ngIf="project?.id!='0'">
                  <strong>Explore the project
                     <a href={{project?.url}} target="_blank">live</a>.
                  </strong>
                  <br>
                  Note: The app is hosted on a free server, so it may take a little longer to load. Please be patient!
               </p>
               <p>
                  To learn more about the {{project?.title}} project, please visit the
                  <a href={{project?.repository}} target="_blank">repository</a>.
               </p>
            </div>
         </mat-card-content>
      </div>
   </mat-card>

</div>