<mat-card>
   <mat-card-content class="profile">
      <div class="img-container">
         <img mat-card-md-image src="https://i.ibb.co/RpXSC3bB/yo.jpg">
      </div>
      <div class="info">
         <h1>From numbers to code while exploring the world</h1>
         <p>I’m an Accountant by profession, 
            but I’ve always been in search of new horizons—not just in my career, 
            but in life. Along the way, I discovered web development, 
            a world where creativity and logic come together, 
            and I was instantly hooked.
         </p>
         <p>I’m just starting out on this journey, 
            but I already have a few projects under my belt and 
            a strong desire to keep learning. 
            Traveling has taught me to adapt, solve problems, 
            and never stop exploring—skills I now bring into coding as well.
         </p>
         <p>This portfolio is part of that process. 
            Here, I share my first projects and what I’m building as 
            I continue discovering the world and myself.
         </p>
      </div>
   </mat-card-content>
   <mat-card-content class="trips">
      <h1>Get to know me better through my trips (and some jobs)</h1>
      <app-carousel [images]="images"></app-carousel>
   </mat-card-content>
</mat-card>
